@mixin semi-circle($size) {
    position: absolute;
    z-index: -1;
    height: $size * 2;
    width: $size;
    border-radius: $size * 2 0px 0px $size * 2;
}

// @function randomNum($min, $max) {
//     $rand: random();
//     $randomNum: $min + floor($rand * (($max - $min) + 1));

//     @return $randomNum;
// }

.landing {
    position: relative;
    background: $blueBlack;
    color: $white;
    z-index: 2;

    // .text {
    //     background: linear-gradient(90deg, #b3aef5 4.68%, #d7cbe7 42.61%, #e5c8c8 64.68%, #ecbdaa 96.43%);
    //     -webkit-background-clip: text;
    //     background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     color: #fff;
    // }

    &__top {
        padding: 180px 100px;
        padding-bottom: 160px;
        text-align: center;
        font-weight: 800;
        position: relative;
        overflow: hidden;
        max-height: 100vh;



        @include media("<764px") {
            text-align: left;
            padding-bottom: 80px;
            // padding-right: 120px;

        }

        @include media("<=600px") {
            padding: 180px 70px;
            padding-bottom: 80px;
        }

        @include media("<=400px") {
            padding: 180px 50px;
            padding-bottom: 80px;
        }

        .sub {
            font-size: 14px;
            color: $subText;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

        .landing__main {
            font-size: 75px;
            line-height: 1.2;
            margin-top: 30px;
            margin-bottom: 50px;
            position: relative;

            @include media("<764px") {
                display: none;
            }

            .text-con {
                position: relative;
                display: inline-block;
                overflow: hidden;
                white-space: pre;
            }

            .text {
                transform-origin: 50% 100%;
                display: inline-block;
            }

            br {
                @include media("<764px") {
                    display: none;
                }
            }



            @include media("<970px") {
                font-size: 50px;
            }

            @include media("<764px") {
                font-weight: 600;
                font-size: 40px;
            }
        }

        .landing__main2 {
            @extend .landing__main;
            display: none;

            @include media("<764px") {
                display: block;
            }
        }

        .links {
            font-weight: 800;

            a {
                color: $green;
                // margin-right: 10px;
            }

            span {
                margin-left: 10px;

                &:nth-child(3) {
                    color: $darkOrange;
                }
            }
        }

        .scroll-down {
            display: inline;
            position: absolute;
            left: 30px;

            @include media("<=780px") {
                display: none;
            }
        }

        .shapes {
            .main-circle {
                z-index: -1;
                position: absolute;
                top: 43%;
                left: 20%;
                width: 70px;
                height: 70px;
                background: none;
                border: 15px solid $redShape;
                border-radius: 50%;

                @include media("<=780px") {
                    display: none;
                }
            }

            .shape-1 {
                position: absolute;
                left: 6%;
                bottom: 10%;
                transform-origin: center center;


                &::before {
                    content: "";
                    position: absolute;
                    left: -10px;
                    @include semi-circle(10px);
                    background: $purpleShape;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background: $white;
                    @include semi-circle(10px);
                    transform: rotate(-180deg);
                }
            }

            .shape-2 {
                position: absolute;
                top: 10%;
                left: 13%;
                transform-origin: center center;



                svg {
                    height: 35px;
                    width: 35px;
                    transform: rotate(40deg);
                }

                polygon {
                    stroke: $blueShape;
                    stroke-width: 20;
                }
            }

            .shape-3 {
                position: absolute;
                right: 2%;
                top: 30%;
                width: 15px;
                height: 15px;
                background: none;
                border: 3px solid $purpleShape;
                transform: rotate(-140deg);
                transform-origin: center center;
            }

            .shape-4 {
                right: 28%;
                position: absolute;
                width: 13px;
                height: 13px;
                background: none;
                border: 4px solid $greenShape;
                border-radius: 50%;
                transform-origin: center center;
            }
        }
    }


    &__work {}
}


// .shapes-1 {
//     z-index: -1;
//     opacity: 0;


//     @include media("<764px") {
//         display: none;
//     }

//     .shape-1 {
//         right: 20%;
//         top: 10%;
//         background: none;
//         border: 4px solid $redShape;
//         transform: rotate(-50deg);
//         @include semi-circle(20px);
//     }

// .shape-2 {
//     position: absolute;
//     left: 10%;
//     bottom: 10%;

//     &::before {
//         content: "";
//         position: absolute;
//         left: -20px;
//         top: -5px;
//         @include semi-circle(15px);
//         background: $purpleShape;
//         // transform: rotate(-50deg);
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         background: $white;
//         @include semi-circle(10px);
//         transform: rotate(-180deg);
//     }
// }


//     .shape-3 {
//         position: absolute;
//         right: percentage(randomNum(20, 30) / 100);
//         bottom: percentage(randomNum(10, 25) / 100);

//         &::before {
//             width: 6.5px;
//             height: 30px;
//             content: '';
//             position: absolute;
//             background: $blueShape;
//         }

//         &::after {
//             width: 6.5px;
//             height: 20px;
//             content: '';
//             left: 15px;
//             background: $white;
//             position: absolute;
//         }
//     }


//     .shape-4 {
//         left: percentage(randomNum(16, 20) / 100);
//         top: percentage(randomNum(20, 35) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         background: $greenShape;
//         // transform: rotate(-50deg);
//         border-radius: 0 100px 0 0;
//     }



//     .shape-5 {
//         right: percentage(randomNum(10, 20) / 100);
//         top: percentage(randomNum(50, 60) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         border: 8px solid $white;
//         border-radius: 50%;
//         /* Halve the circle */
//         border-bottom-color: transparent;
//         border-left-color: transparent;
//         /* Rotate the circle */
//         // transform: rotate(-45deg);
//     }
// }

// .shapes-2 {
//     // opacity: 0;

//     @include media("<764px") {
//         display: none;
//     }

//     .shape-1 {}

//     .shape-2 {
// position: absolute;
// right: percentage(randomNum(15, 30) / 100);
// bottom: percentage(randomNum(10, 25) / 100);

// &::before {
//     content: "";
//     position: absolute;
//     left: -10px;
//     @include semi-circle(10px);
//     background: $purpleShape;
//     // transform: rotate(-50deg);
// }

// &::after {
//     content: "";
//     position: absolute;
//     background: $white;
//     @include semi-circle(10px);
//     transform: rotate(-180deg);
// }
//     }

//     .shape-3 {
//         left: percentage(randomNum(10, 20) / 100);
//         top: percentage(randomNum(10, 30) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         background: $white;
//         // transform: rotate(-50deg);
//         border-radius: 0 0 0 100px;
//     }



//     .shape-4 {
//         position: absolute;
//         right: percentage(randomNum(20, 50) / 100);
//         bottom: percentage(randomNum(25, 48) / 100);

//         &::before {
//             content: "";
//             position: absolute;
//             left: -14px;
//             top: 5px;
//             @include semi-circle(8px);
//             background: $pinkShape;
//             transform: rotate(-180deg);
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             background: $pinkShape;
//             @include semi-circle(13px);
//             transform: rotate(-180deg);
//         }
//     }
// }