// primary
$black: #000000;
$white: #ffffff;
$blueBlack: #0B0B0F;
$red: #df020a;
$blackSec: #131419;


// secondary
$blue: #6166DC;



// preloader text
$green: #00ffba;

// possible colors for subtexts/links.
$subText: #868F97;

//unused colors
// $shape: #2f2f2f;
$darkOrange: #f72d00;
$grey-black: #0f0f0f;
$orange: #f26d50;



// landing shapes

$redShape: #ff3562;
$greenShape: #57e0c6;
$purpleShape: #6935db;
$pinkShape: #ff61bc;
$blueShape: #2a97ff;