// primary
$black: #000000;
$white: #ffffff;
$blueBlack: #0B0B0F;
$red: #df020a;
$blackSec: #131419;


// secondary
$blue: #6166DC;


//sub-texts/links
$subText: #868F97;
$darkOrange: #f72d00;
$green: #00ffba;
$secText: #858383;




// landing shapes
$blueShape: #2a97ff;
$redShape: #ff3562;
$greenShape: #57e0c6;
$purpleShape: #6935db;


//unused colors
// $shape: #2f2f2f;
$grey-black: #0f0f0f;
$orange: #f26d50;
$pinkShape: #ff61bc;

// portfolio boxes
$boxBlue: #2a6ef0;



@mixin button {
    outline: none;
    border: transparent;
    // border-radius: 5px;
    cursor: pointer;
    // font-weight: 600;
    text-transform: capitalize;
    color: $white;
    padding: 15px 30px;
}

@mixin textUnderline($color) {
    background: linear-gradient(0deg, rgba(255, 0, 255, 0) 0%, rgba(255, 0, 255, 0) 16%, $color 16%, $color 32%, rgba(255, 0, 255, 0) 10%);
    padding: .2em 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}










// .shapes-1 {
//     z-index: -1;
//     opacity: 0;


//     @include media("<764px") {
//         display: none;
//     }

//     .shape-1 {
//         right: 20%;
//         top: 10%;
//         background: none;
//         border: 4px solid $redShape;
//         transform: rotate(-50deg);
//         @include semi-circle(20px);
//     }

// .shape-2 {
//     position: absolute;
//     left: 10%;
//     bottom: 10%;

//     &::before {
//         content: "";
//         position: absolute;
//         left: -20px;
//         top: -5px;
//         @include semi-circle(15px);
//         background: $purpleShape;
//         // transform: rotate(-50deg);
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         background: $white;
//         @include semi-circle(10px);
//         transform: rotate(-180deg);
//     }
// }


//     .shape-3 {
//         position: absolute;
//         right: percentage(randomNum(20, 30) / 100);
//         bottom: percentage(randomNum(10, 25) / 100);

//         &::before {
//             width: 6.5px;
//             height: 30px;
//             content: '';
//             position: absolute;
//             background: $blueShape;
//         }

//         &::after {
//             width: 6.5px;
//             height: 20px;
//             content: '';
//             left: 15px;
//             background: $white;
//             position: absolute;
//         }
//     }


//     .shape-4 {
//         left: percentage(randomNum(16, 20) / 100);
//         top: percentage(randomNum(20, 35) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         background: $greenShape;
//         // transform: rotate(-50deg);
//         border-radius: 0 100px 0 0;
//     }



//     .shape-5 {
//         right: percentage(randomNum(10, 20) / 100);
//         top: percentage(randomNum(50, 60) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         border: 8px solid $white;
//         border-radius: 50%;
//         /* Halve the circle */
//         border-bottom-color: transparent;
//         border-left-color: transparent;
//         /* Rotate the circle */
//         // transform: rotate(-45deg);
//     }
// }

// .shapes-2 {
//     // opacity: 0;

//     @include media("<764px") {
//         display: none;
//     }

//     .shape-1 {}

//     .shape-2 {
// position: absolute;
// right: percentage(randomNum(15, 30) / 100);
// bottom: percentage(randomNum(10, 25) / 100);

// &::before {
//     content: "";
//     position: absolute;
//     left: -10px;
//     @include semi-circle(10px);
//     background: $purpleShape;
//     // transform: rotate(-50deg);
// }

// &::after {
//     content: "";
//     position: absolute;
//     background: $white;
//     @include semi-circle(10px);
//     transform: rotate(-180deg);
// }
//     }

//     .shape-3 {
//         left: percentage(randomNum(10, 20) / 100);
//         top: percentage(randomNum(10, 30) / 100);
//         width: 20px;
//         position: absolute;
//         height: 20px;
//         background: $white;
//         // transform: rotate(-50deg);
//         border-radius: 0 0 0 100px;
//     }



//     .shape-4 {
//         position: absolute;
//         right: percentage(randomNum(20, 50) / 100);
//         bottom: percentage(randomNum(25, 48) / 100);

//         &::before {
//             content: "";
//             position: absolute;
//             left: -14px;
//             top: 5px;
//             @include semi-circle(8px);
//             background: $pinkShape;
//             transform: rotate(-180deg);
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             background: $pinkShape;
//             @include semi-circle(13px);
//             transform: rotate(-180deg);
//         }
//     }
// }